ul {
    height: 10em;
    display: inline-block;
}
li { 
    list-style: none;
    float: left;
    padding: 80px 0 0 0;
    text-align: center;
    position: relative;
    margin: 0;
}

.buttonContainer {
    margin: 1em;
}

.noteLabel { 
    width: 1.5em;
    border-right: 1px solid black;
    padding: 2px 0 0 4px;
    text-align: left;
}
.layers {
    overflow: auto;
    height: 30em;
    width: 60em;
    border: 2px solid black;
    margin: 50px auto 5px;
    display: flex;
    flex-direction: column;
    background-color: gray;
}
.sequence{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    background-color: gray;
    border-collapse: collapse;
    border-top: 1px solid gray;
}
.partial {
    flex-grow: 1;
    background-color: lightgray;
    margin: 0px;
}
.partial[data-current="true"]{
    background-color: gray;
}
.partial[data-recorded="true"]{
    background-color: rgb(231, 75, 75);
}

.whiteKey {
    height: 100%;
    width: 4em;
    z-index: 1;
    line-height: 2em;
    background-color: ivory;
    box-shadow: 5px 5px 5px #888888;
    margin: 0 19px 0 -18px;
    border-radius: 0 0 5px 5px;
    box-shadow: inset 0 0 9px lightgray;
}
.whiteKey[data-right-black="true"]{
    margin: 0 1px 0 -18px;
}
.whiteKey[data-pressed="true"]{
    box-shadow: inset 0 0 18px darkgray;
}
.blackKey {
    height: 60%;
    width: 36px;
    z-index: 2;
    background-color: rgba(35, 37, 37, 0.979);
    color: ivory;
    margin: 0 0 0 -18px;
    border-radius: 0 0 4px 4px;
    padding: 60px 0 0 0;
}
.blackKey[data-pressed="true"]{
    box-shadow: inset 1px -12px 12px -2px gray;
}