
/* common styles for all pages */

h1 {
    color: ivory;
    margin: 10px 0 0 0;
}

div {
    text-align: center;
}
.mainContainer {
    margin: 3em auto;
    height: auto;
    width: 70em;
    border: 2px solid black;
    border-radius: 20px;
    background-color: slategray;
}

.left {
    display: relative;
    margin: 1em 0 0 1em;
}