<!DOCTYPE html>
<html>
    <head>
        <title>Sequencer</title>
        <script src="app.js"></script>
        <link rel="stylesheet" type="text/css" href="styles.css">
    </head>
    <body>
        <div class="mainContainer">
            <p>login</p>
            <div class="layers">
                
            </div>
            <button onclick="playButton()">play/stop</button>
            <button onclick="record()">record</button>
            <button onclick="saveLoop()">save current loop</button>
            <div class="keyboardContainer">
                <ul class="keyboard"></ul>
            </div>
        </div>
    </body>
</html>